.switchTime {
    position: absolute;
    top: 150px;
    right: 150px;
    height: 420px;
    width: 620px;
    border-radius: 3px;
    opacity: 0.9;
    z-index: 10;
}

.STDiv1 {
    position: absolute;
    top: -10PX;
    left: -10PX;
    height: 440PX;
    width: 640PX;
    border: 1px solid #053ba8;
    box-shadow: 0 0 5px #053ba8;
}

.STD1_1 {
    position: absolute;
    top: -10PX;
    left: -10PX;
    height: 1px;
    width: 50px;
    background-color: #053ba8;
    box-shadow: 0 0 5px #053ba8;
}

.STD1_2 {
    position: absolute;
    top: -10PX;
    right: -10PX;
    height: 1px;
    width: 50px;
    background-color: #053ba8;
    box-shadow: 0 0 5px #053ba8;
}

.STD1_3 {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 360px;
    width: 1px;
    background-color: #053ba8;
    box-shadow: 0 0 5px #053ba8;
}

.STD1_4 {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 360px;
    width: 1px;
    background-color: #053ba8;
    box-shadow: 0 0 5px #053ba8;
}

.STD1_5 {
    position: absolute;
    bottom: -10PX;
    left: -10PX;
    height: 1px;
    width: 50px;
    background-color: #053ba8;
    box-shadow: 0 0 5px #053ba8;
}

.STD1_6 {
    position: absolute;
    bottom: -10PX;
    right: -10PX;
    height: 1px;
    width: 50px;
    background-color: #053ba8;
    box-shadow: 0 0 5px #053ba8;
}

.STDiv2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 420px;
    width: 620px;
    background-color: #053ba8;
    border-radius: 3px;
}

.STD2_1 {
    position: absolute;
    top: 7px;
    left: 45px;
    width: 530px;
    height: 30px;
}

.STBtn1 {
    position: absolute;
    top: 2px;
    left: 60px;
    width: 200px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    color: white;
    background: linear-gradient(90deg, #6cb3ff 10%, #4043ff 80%);
    border: 1px solid #053ba8;
    box-shadow: 0 0 5px #1EABE3;
    border-radius: 30px;
    cursor: pointer;
}

.STBtn1:active {
    box-shadow: 0px 2px 6px 0px #000;
}

.STBtn2 {
    position: absolute;
    top: 2px;
    right: 60px;
    width: 200px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    color: white;
    background: linear-gradient(90deg, #6cb3ff 10%, #4043ff 80%);
    border: 1px solid #053ba8;
    box-shadow: 0 0 5px #1EABE3;
    border-radius: 30px;
    cursor: pointer;
}

.STBtn2:active {
    box-shadow: 0px 2px 6px 0px #000;
}

.SCBtn3 {
    position: absolute;
    top: 9PX;
    left: 5PX;
    width: 90px;
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 3px;
    border-width: 0;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px white;
    z-index: 12;
    background: linear-gradient(90deg, #6cb3ff 10%, #4043ff 80%);
}

.SCBtn4 {
    position: absolute;
    top: 9PX;
    right: 5PX;
    width: 90px;
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 3px;
    border-width: 0;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px white;
    z-index: 12;
    background: linear-gradient(90deg, #6cb3ff 10%, #4043ff 80%);
}

.SCBtn3:hover {
    transition: .3s linear;
    /*过渡动画*/
    background-color: #1EABE3;
}

.SCBtn3:active {
    box-shadow: 0px 2px 6px 0px #000;
}

.STD2_2 {
    position: absolute;
    top: 45px;
    left: 10px;
    width: 600px;
    height: 270px;
}

.STDay {
    position: absolute;
    top: 0;
    left: 0;
    width: 540px;
    height: 270px;
    background-color: #053ba8;
}

.STDBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 310px;
    border: 1px solid #053ba8;
    box-shadow: 0 0 5px #1EABE3;
    /* border-radius: 3px; */
}

.STDTimeBar {
    position: absolute;
    top: 320px;
    left: 30px;
    width: 540px;
    height: 40px;
    border: 1px solid #053ba8;
    box-shadow: 0 0 5px #1EABE3;
    border-radius: 3px;
}

.DTBLine {
    position: absolute;
    top: 15px;
    left: 0;
    width: 540px;
    height: 2px;
    background-color: black;
}

.DTBPoint {
    position: absolute;
    top: 13px;
    left: 16px;
    height: 5px;
    width: 528px;
}

.DTBP1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP2 {
    position: absolute;
    top: 0;
    left: 22px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP3 {
    position: absolute;
    top: 0;
    left: 44px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP4 {
    position: absolute;
    top: 0;
    left: 66px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP5 {
    position: absolute;
    top: 0;
    left: 88px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP6 {
    position: absolute;
    top: 0;
    left: 110px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP7 {
    position: absolute;
    top: 0;
    left: 132px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP8 {
    position: absolute;
    top: 0;
    left: 154px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP9 {
    position: absolute;
    top: 0;
    left: 176px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP10 {
    position: absolute;
    top: 0;
    left: 198px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP11 {
    position: absolute;
    top: 0;
    left: 220px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP12 {
    position: absolute;
    top: 0;
    left: 242px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP13 {
    position: absolute;
    top: 0;
    left: 264px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP14 {
    position: absolute;
    top: 0;
    left: 286px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP15 {
    position: absolute;
    top: 0;
    left: 308px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP16 {
    position: absolute;
    top: 0;
    left: 330px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP17 {
    position: absolute;
    top: 0;
    left: 352px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP18 {
    position: absolute;
    top: 0;
    left: 374px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP19 {
    position: absolute;
    top: 0;
    left: 396px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP20 {
    position: absolute;
    top: 0;
    left: 418px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP21 {
    position: absolute;
    top: 0;
    left: 440px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP22 {
    position: absolute;
    top: 0;
    left: 462px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP23 {
    position: absolute;
    top: 0;
    left: 484px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBP24 {
    position: absolute;
    top: 0;
    left: 506px;
    height: 5px;
    width: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.DTBText {
    position: absolute;
    top: 25px;
    left: 11px;
    height: 15px;
    width: 520px;
}

.DTBT1 {
    position: absolute;
    top: 0;
    left: 0px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT2 {
    position: absolute;
    top: 0;
    left: 22px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT3 {
    position: absolute;
    top: 0;
    left: 44px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT4 {
    position: absolute;
    top: 0;
    left: 66px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT5 {
    position: absolute;
    top: 0;
    left: 88px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT6 {
    position: absolute;
    top: 0;
    left: 110px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT7 {
    position: absolute;
    top: 0;
    left: 132px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT8 {
    position: absolute;
    top: 0;
    left: 154px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT9 {
    position: absolute;
    top: 0;
    left: 176px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT10 {
    position: absolute;
    top: 0;
    left: 198px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT11 {
    position: absolute;
    top: 0;
    left: 220px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT12 {
    position: absolute;
    top: 0;
    left: 242px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT13 {
    position: absolute;
    top: 0;
    left: 264px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT14 {
    position: absolute;
    top: 0;
    left: 286px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT15 {
    position: absolute;
    top: 0;
    left: 308px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT16 {
    position: absolute;
    top: 0;
    left: 330px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT17 {
    position: absolute;
    top: 0;
    left: 352px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT18 {
    position: absolute;
    top: 0;
    left: 374px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT19 {
    position: absolute;
    top: 0;
    left: 396px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT20 {
    position: absolute;
    top: 0;
    left: 418px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT21 {
    position: absolute;
    top: 0;
    left: 440px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT22 {
    position: absolute;
    top: 0;
    left: 462px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT23 {
    position: absolute;
    top: 0;
    left: 484px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.DTBT24 {
    position: absolute;
    top: 0;
    left: 506px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.STWeek {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 540px;
    height: 270px;
}

.STWBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 540px;
    height: 220px;
    border: 1px solid #053ba8;
    box-shadow: 0 0 5px #1EABE3;
    border-radius: 3px;
}

.STWTimeBar {
    position: absolute;
    top: 230px;
    left: 0;
    width: 540px;
    height: 40px;
    border: 1px solid #053ba8;
    box-shadow: 0 0 5px #1EABE3;
    border-radius: 3px;
}

.WTBLine {
    position: absolute;
    top: 15px;
    left: 120px;
    height: 2px;
    width: 300px;
    background-color: black;
}

.WTBPoint {
    position: absolute;
    top: 13px;
    left: 121px;
    height: 5px;
    width: 290px;
}

.WTBP1 {
    position: absolute;
    top: 0px;
    left: 15px;
    width: 5px;
    height: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.WTBP2 {
    position: absolute;
    top: 0px;
    left: 59px;
    width: 5px;
    height: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.WTBP3 {
    position: absolute;
    top: 0px;
    left: 103px;
    width: 5px;
    height: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.WTBP4 {
    position: absolute;
    top: 0px;
    left: 147px;
    width: 5px;
    height: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.WTBP5 {
    position: absolute;
    top: 0px;
    left: 191px;
    width: 5px;
    height: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.WTBP6 {
    position: absolute;
    top: 0px;
    left: 235px;
    width: 5px;
    height: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.WTBP7 {
    position: absolute;
    top: 0px;
    left: 279px;
    width: 5px;
    height: 5px;
    background-color: #1eabe3;
    border-radius: 50%;
}

.WTBText {
    position: absolute;
    top: 25px;
    left: 116px;
    height: 15px;
    width: 300px;
}

.WTBT1 {
    position: absolute;
    top: 0;
    left: 15px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.WTBT2 {
    position: absolute;
    top: 0;
    left: 59px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.WTBT3 {
    position: absolute;
    top: 0;
    left: 103px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.WTBT4 {
    position: absolute;
    top: 0;
    left: 147px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.WTBT5 {
    position: absolute;
    top: 0;
    left: 191px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.WTBT6 {
    position: absolute;
    top: 0;
    left: 235px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.WTBT7 {
    position: absolute;
    top: 0;
    left: 279px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-align: center;
    vertical-align: middle;
}